# Windows default autosave extension
*.asv

# Ignore image data
*.jpg
*.tiff

# ignore video data
*.mp4

# Ignore TDMS data
*.tdms
*.tdms_index

# OSX / *nix default autosave extension
*.m~

# .txt (yes this too)
*.txt

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace